body{
    background-color: green;
}

h1,h2,h3,ul.scores li{
    text-align: center;
    padding:3px;
    font-size:x-large;
    font: bold;
    color: whitesmoke;
    font-family: 'Courier New', monospace;
}
p{
    text-align: center;
    padding:2px;
    font-size:large;
    font: bold;
    color: whitesmoke;
    font-family: 'Courier New', monospace;
}

ul.bd,ul.scores {
	text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0; 
}

ul.bd li{
	display:inline;
    text-align: center;
    margin: 0em;
    padding: 1rem;
    font-size: 3em;
    font:bolder;
}

img{border: 8px solid black;
	border-radius: 50%;
    vertical-align:middle;
    margin:20px 20px;
    cursor: pointer;
}

.container {
    height: 50px;
    position: relative;
    /*border: 3px solid green;*/
}
  
.center {
    margin: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
} 

button {
    border: none;
    color: gray;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
